.login-page {
    display: grid;
    grid-template-rows: 1fr;
    margin: 100px 100px;
    place-content: center;
}

.textinput {
    border: none;
    outline: none;
    font-size: medium;
    height: 50px;
    width: 300px;
    border-bottom: 3px solid #96B6C5;
}

.textinput:focus {
    border-bottom: 5px solid #96B6C5;
}

.login-form-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
}

.login-form-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.login-form {
    display: flex;
    gap: 5rem;
}

.sign-up-form-container {
    display: grid;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1.75rem;
    place-content: center;
}

.sign-up-form-body {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.sign-up-form-box {
    display: grid;
    gap: 1.5rem;
}

.sign-up-form {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}
