.lists-container {
    padding: 1rem;
}

.new-list-container {
    padding: 1rem;
}

.empty-list-item {
    height: 160px;
    width: 98%;
    border: 1px solid #96B6C5;
    padding: 0.5rem;
    display: flex;
}

.list-poster {
    height: 140px;
    width: 100px;
    
}

.list-title-container, .addFilmToList-container {
    padding: 0.5rem;
    place-content: center;
}

.addFilmToList-container {
    width: 50%;
}

.empty-list-list {
    display: grid;
    grid-template-columns: auto;
    gap: 0.9rem;
    margin-top: 2.5rem;
}

.empty-list-header {
    text-align: center;
}

.list-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.add-list-button {
    background-color: none;
    height: 140px;
    width: 100px;
    border: 1px dotted #96B6C5;
}

.new-list-container > .empty-list-item {
    width: 94.5%;
    display: grid;
    grid-template-rows: 2rem;
}

.add-film-to-list-btn {
    width: 100%;
    height: 100%;
    background-color: #F1F0E8;
}

.add-film-to-list-btn:hover {
    border: 1px dotted #96B6C5;
}

.listTitle-input, .search-films-searchbar {
    border: none;
    outline: none;
    border-bottom: 1px solid #96B6C5;
    width: 91%;
    height: 20px;
    font-size: medium;
}

.search-films-searchbar {
    width: 93%;
}

.list-complete-btn {
    width: 24px;
    height: 24px;
    text-align: center;
    position: relative;
    background-color: #F1F0E8;
    place-self: end;
}

.list-complete-btn:hover {
    border: none;
}

.done-check {
    position: absolute;
    top: 0;
    left: 20%;
}