.lists-container {
    padding: 1rem;
}

.new-list-container {
    padding: 1rem;
}

.empty-list-item {
    height: 160px;
    width: 98%;
    border: 1px solid #96B6C5;
    padding: 0.5rem;
    display: flex;
}

.list-poster {
    height: 140px;
    width: 100px;
}

.list-title-container, .addFilmToList-container {
    padding: 0.5rem;
    place-content: center;
}

.list-page-heading-box {
    text-align: center;
    border-top: 3px solid #FF5733;
    border-bottom: 3px solid #FF5733;
    padding: 1rem;
    position: sticky;
    top: 10%;
    margin-right: 1rem;
}


.add-to-list-btn-box {
    text-align: center;
}

.add-to-list-btn-box > .icon {
    width: 50px;
    height: 50px;
}

.list-title-box {
    text-align: center;
}

.addFilmToList-container {
    width: 50%;
}

.addFilmToList-container > .search-results-container > .search-results-list {
    padding-left: 0;
}

.addFilmToList-container > .search-results-container > .search-results-list > .add-to-list-container > .add-to-list-button:hover {
    outline: none;
    border: none;
    fill: #FF5733;
}

.addFilmToList-container > .search-results-container > .lists-films-container > .newlist-films-list >.add-to-list-container > .add-to-list-button:hover {
    outline: none;
    border: none;
    fill: #FF5733;
}



.addFilmToList-container > .search-results-container > .search-results-list > .add-to-list-container > .add-to-list-button > .add-button {
    background-color: rgba(255, 255, 255, 0);
}

.empty-list-list {
    display: grid;
    grid-template-columns: auto;
    gap: 0.9rem;
    margin-top: 2.5rem;
}

.empty-list-header {
    text-align: center;
}

.list-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.add-list-button {
    background-color: none;
    height: 140px;
    width: 100px;
    border: 1px dotted #96B6C5;
}

.new-list-container > .empty-list-item {
    width: 94.5%;
    display: grid;
    grid-template-rows: 3rem;
}

.add-film-to-list-btn {
    width: 100%;
    height: 100%;
    background-color: #F1F0E8;
}

.add-film-to-list-btn:hover {
    border: 1px dotted #FF5733;
}

.listTitle-input, .search-films-searchbar {
    border: none;
    outline: none;
    border-bottom: 1px solid #96B6C5;
    width: 91%;
    height: 20px;
    font-size: medium;
}

.search-films-searchbar {
    width: 93%;
}

.list-complete-btn {
    width: 24px;
    height: 24px;
    text-align: center;
    position: relative;
    background-color: #F1F0E8;
    place-self: end;
}

.list-complete-btn:hover {
    border: none;
}

.list-complete-btn > .done-check {
    position: absolute;
    top: 0;
    left: 20%;
}

.newlist-films-list {
    padding: 0 0.5rem 0 1rem;
}

.list-list {
    margin: 0;
    padding: 1rem;
}

.list-image-container {
    height: 8.7rem;
    width: 100%;
    display: flex;
    padding: 0;
}

.empty-image-container {
    border: 1px solid #96B6C5;
    height: 8.7rem;
    width: 8rem;
}

.users-list-item {
    display: grid;
    grid-template-rows: 2rem;
    border-bottom: 3px solid #96B6C5;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}

.users-list-item div {
    text-align: start;
    padding: 0.5rem;
}

.list-image {
    width: 6rem;
    height: 8.2rem;
}

.list-page-list {
    margin: 0;
    padding: 0;
}

.list-page-list > .list-image-container {
    width: 99%;
    gap: 0.25rem;
}

.list-page-list > .list-image-container > .list-image {
    width: 8rem;
    height: 11rem;
}

.list-page-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#watchlist-image {
    width: 192px;
    height: 262px;
}

.list-heading {
    text-align: center;
}

.list-page-list-item {
    cursor: pointer;
    position: relative;
}


.list-page-main {
    text-align: center;
}