.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    background-color: #96B6C5;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
}

.left-sidebar {
    grid-area: left;
    background-color: #96B6C5;
    margin: 0.5rem;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    padding: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.left-sidebar h2 {
    background-color: #96B6C5;
}

.footer {
    grid-area: footer;
}

.search-bar-container-dashboard, .logo-container, .search-bar-icon-container {
    background-color: #96B6C5;
}

.search-bar-icon-container {
    text-align: end;
}

.search-bar-container-dashboard {
    place-self: center end;
    margin-right: 1rem;
    width: 100%;
}

.logo-container {
    display: flex;
    gap: 1rem;
    place-self: center start;
    margin-left: 1rem;
}


#search, #film-reel {
    background-color: #96B6C5;
}

#search:hover, #film-reel:hover, #user-icon:hover {
    fill: #FF5733;
}

.user-icon:hover {
    fill: #FF5733;
}

.logo-container > .link {
    background-color: #96B6C5;
    text-decoration: none;
}

.left-sidebar .link {
    background-color: #96B6C5;
}

#user-icon {
    background-color: #96B6C5;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container {
    background-color: #96B6C5;
    border-bottom: 1px solid #F1F0E8;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > .search-films-searchbar {
    background-color: #96B6C5;
    color: #F1F0E8;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > .search-films-searchbar::placeholder {
    color: #F1F0E8;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > #searchFilm-icon {
    background-color: #96B6C5;
}

.search-bar-container-dashboard > .searchbar-results-container {
    width: 100%;
}