.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    background-color: #96B6C5;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
}

.left-sidebar {
    grid-area: left;
    background-color: #96B6C5;
    margin: 0.5rem;
    border-radius: 20px;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 1%;
    left: 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: #96B6C5;
    border-radius: 20px;
}

.left-sidebar h2 {
    background-color: #96B6C5;
}

.footer {
    grid-area: footer;
    max-width: 100%;
}

.search-bar-container-dashboard, .logo-container, .search-bar-icon-container {
    background-color: #96B6C5;
}

.search-bar-icon-container {
    text-align: end;
}

.search-bar-container-dashboard {
    place-self: center end;
    margin-right: 1rem;
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    gap: 1rem;
    place-self: center start;
    margin-left: 1rem;
}


#search, #film-reel {
    background-color: #96B6C5;
}

#search:hover, #film-reel:hover, #user-icon:hover {
    fill: #FF5733;
}

.user-icon:hover {
    fill: #FF5733;
}

.logo-container > .link {
    background-color: #96B6C5;
    text-decoration: none;
}

.left-sidebar .link {
    background-color: #96B6C5;
}

#user-icon {
    background-color: #96B6C5;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container {
    background-color: #96B6C5;
    border-bottom: 1px solid #FF5733;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > .search-films-searchbar {
    background-color: #96B6C5;
    color: #F1F0E8;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > .search-films-searchbar::placeholder {
    color: #F1F0E8;
}

.search-bar-container-dashboard > .searchbar-results-container > .searchbar-container > #searchFilm-icon {
    background-color: #96B6C5;
    fill: #FF5733;
}

.search-bar-container-dashboard > .searchbar-results-container {
    width: 100%;
}

.search-results-container-dashboard {
    height: fit-content;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2rem;
}

.search-results-list-dashboard {
    padding: 1rem;
    background-color: #FF5733;
}

.nav-bar-list-container {
    display: flex;
    flex-direction: row;
    background-color: #96B6C5;
    gap: 1fr;
}

.nav-bar-list-container > .icon {
    width: 40px;
    height: 40px;
    background-color: #96B6C5;
    place-self: center;
}

.logout-btn, .logo-btn {
    background-color: #96B6C5;
    padding: 0;
}

.logo-btn:hover {
    outline: none;
    border: none;
    padding: none;
}

.logout-btn > .icon, .logo-text-box > .icon {
    background-color: #96B6C5;
    width: 34px;
    height: 38px;
}

.logo-text-box {
    display: flex;
    flex-direction: row;
    background-color: #96B6C5;
    align-items: center;
}

.header-title {
    background-color: #96B6C5;
    color: #213547;
}