.feed-container {
    grid-area: main;
    background-color: #F1F0E8;
    margin: 0.5rem;
    display: grid;
    gap: 2rem;
    height: 100vh;
}

.feed-list-container {
    display: grid;
    grid-template-rows: 3rem 2fr;
}

.film-list {
    display: flex;
    gap: 0.9rem;
    padding: 0;
    background-color: #F1F0E8;
}

.poster {
    height: 200px;
}

.trending-list-container, .popular-list-container, .cinema-list-container, .film-list-container, .latest-list-container {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.trending-list-container::-webkit-scrollbar, .popular-list-container::-webkit-scrollbar, .cinema-list-container::-webkit-scrollbar, .latest-list-container::-webkit-scrollbar {
    display: none;
}

.list-title {
    position: absolute;
    z-index: 1;
}

.link{
    text-decoration: none;
}
