.film-page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    width: fit-content;
}


.poster-title-box{
    display: grid;
}

.director-writer-box{
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    text-align: center;
}

.director-writer-box section {
    place-content: center;
    height: fit-content;
}

.poster-title-box {
    display: grid;
    grid-template: 
    'date text'
    'poster text';
    gap: 0.5rem;
}

#release-date {
    grid-area: date;
}

#page-poster {
    grid-area: poster;
    height: 400px;
}

#synopsis {
    grid-area: text;
    padding: 0.5rem;
    margin-top: 1.2rem;
}

.header-footer {
    display: grid;
    grid-template-rows: auto;
    margin: 1.5rem;
    gap: 4rem;
    place-content: center;
    width:fit-content;
}

.film-details-box {
    display: flex;
    margin: 1.5rem;
    gap: 4rem;
    place-content: center;
    width:fit-content;
}

.rating-box div {
    text-align: center;
}

#genre {
    margin: 0;
    padding: 0;
}

.images-videos-container {
    display: flex;
    gap: 10rem;
    place-content: center;
    margin-top: 2.5rem;
    width: 100vw;
}

.images-box, .videos-box {
    border-bottom: 5px solid #96B6C5;
}

.images-box:hover, .videos-box:hover {
    color: #96B6C5;
    border-bottom: 5px solid #FF5733;
}

.images-box:focus, .videos-box:focus, .images-box:active, .videos-box:active {
    color: #96B6C5;
    border-bottom: 5px solid #FF5733;
}

.cast-box, .crew-box {
    width: 100vw;
}

.cast-list::-webkit-scrollbar, .crew-list::-webkit-scrollbar {
    display: none;
}

.cast_crew-container {
    width: 100vw;
}

.cast-list, .crew-list {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    display: flex;
    gap: 2rem;
    padding: 0;
    height: fit-content;
    margin: 0;
}


.feed-card-poster {
    width: 133px;
}

.profile-image, #unknown-profile-image {
    border-radius: 50px;
    height: 138px;
    width: 92px;
    text-align: center;
    margin: 0;
}

#unknown-profile-image, #unknown-poster {
    border: 1px solid #96B6C5;
    background-color: #ADC4CE;
    place-content: center;
    margin: 0;
}

.link {
    text-decoration: none;
}

.images-container {
    display: flex;
    gap: 2.5rem;
    place-content: center;
    padding: 2rem;
}

.posters-box, .backdrops-box, .logos-box {
    height: fit-content;
}

.film-image-list {
    display: grid;
    grid-auto-columns: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    place-content: center;
    list-style: none;
    
}

.posters-box, .backdrops-box, .logos-box {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#back{
    margin: 2rem 0 0 2rem;
}

.add-to-list-container {
    position: relative;
    height: 100px;
    width: 456px;
}

.add-to-list-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 456px;
    background-color: rgba(24, 100, 171, 0);
    text-align: end;
    padding: 0;
}

.add-to-list-button:hover .add-button {
    border: none;
    border-bottom: 4px solid #96B6C5;
    border-radius: 0;
}

.user-rating-stars .star {
    fill: #FF5733;
}

.avg-user-rating-box {
    display: grid;
    gap: 1rem;
}