.addFilm-header {
    padding: 1rem;
    display: flex;
    width: 50%;
}

#searchFilm-icon {
    height: 18px;
    margin-top: 0.25rem;
}

.new-list-container {
    display: flex;
}

.empty-list-item header {
    width: 50%;
}

.addFilmToList-container {
    width: 100%;
    padding: 0;
}

.empty-list-item {
    height: 100%;
}

.search-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.lists-films-container {
    display: flex;
    height: fit-content;
    width: fit-content;
}

.add-film-to-list-btn .add-button {
    background-color: #F1F0E8;
}