.addFilm-header {
    padding: 1rem;
    display: flex;
    width: 50%;
}

#searchFilm-icon {
    height: 18px;
    margin-top: 0.25rem;
}

.new-list-container {
    display: flex;
}

.empty-list-item header {
    width: 50%;
}

.addFilmToList-container {
    width: 100%;
}

.empty-list-item {
    height: 100%;
}