* {
  margin: 0;
  box-sizing: border-box;
  background-color: #F1F0E8;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
  display: grid;
  grid-template: 
  'left header' 7rem
  'left main' 1fr
  'left footer' 40rem/
  20rem 2fr;
  width: 100vw;
  min-height: 100vh;
}

.icon {
  width: 30px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #213547;
}

.link:hover {
  color: #FF5733;
}

.login-button {
  color: #F1F0E8;
  background-color: #96B6C5;
  text-align: center;
  padding: 0.5rem;
  height: 40px;
  width: 100px;
}

.login-button:hover {
  color: #FF5733;
  border: 2px solid #96B6C5;
  background-color: #F1F0E8;
}

.addFilm-button, .addList-button {
  position: fixed;
  top: 85%;
  right: 5%;
  padding: 1rem;
  border: 1px solid #FF5733;
  border-radius: 60px;
  background-color: #96B6C5;
}

.addFilm-button, .addList-button {
  background-color: #96B6C5;
}

.addFilm-button:hover {
  border: 3px solid #96B6C5;
  background-color: #FF5733;
}

.add-button, .addList-button {
  fill: #FF5733;
  background-color: #96B6C5;
}

.addFilm-button:hover .add-button {
  fill: #96B6C5;
  background-color: #FF5733;
}

.add-button:hover {
  fill: #FF5733;
}
